body {
	
	width:960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0 auto;

}

#container {
	position: relative;
	left:100px;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #4aaaa5;
	color: white;
	font-family:  'Georgia', Times, Times New Roman, serif;
	
}
	
nav {
	width:960px;
	height: 80px;
	text-align: center;
	font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;




}

a{
	color: #777777;
	text-decoration: none;
	float: right;
	padding-right: 25px;
	text-align: center;

}
	
.lower {

	width:960px;
	height:712px;
	background-image:url(../images/vintage-concrete.png);
}



#head2 {
	border-width:2px;
	border-color:#cccccc;
	border-style: solid;
	position: relative;
	top: 36px;
	left: 100px;
	background-color: #ffffff;
	color: #4aaaa5;
	clear: both;
	width:650px;
	height: 478px;
}

h2 { 
	color: #ffffff;
 }




