body {
	
	width:960px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	margin: 0 auto;

}

h1 {
	position: relative;
	left:100px;
	float: left;
	padding-left: 30px;
	padding-right: 30px;
	background-color: #4aaaa5;
	color: white;
	font-family:  'Georgia', Times, Times New Roman, serif;
	
}
	
nav {
	width:960px;
	height: 80px;
	text-align: center;
	font-family:  'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	border-bottom-width: 2px;
	border-bottom-color: #cccccc;
	border-bottom-style: solid;


}

a {	
	font-size: 17px;
	color: #777777;
	float: right;
	padding-right: 25px;
	text-align: center;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-decoration: none;
}
.p1 {
	position: relative;
	right:30px;
	padding-top: 35px;
	padding-left:5px;

}

.p2 {
	position: relative;
	right:40px;
	padding-top: 35px;
	padding-right: 20px;
	padding-left: 20px;


	}

.p3 {
	position: relative;
	right:40px;
	padding-top: 35px;
	padding-right: 20px;
	
	
}


	
.section {

	position: relative;
	bottom:19.5px;
	width:960px;
	height:712px;
	background-image:url(../images/vintage-concrete.png);
	
}

h2 {
	border-width:2px;
	border-color:#cccccc;
	border-style: solid;
	position: relative;
	top: 36px;
	left: 100px;
	background-color: #ffffff;
	color: #4aaaa5;
	clear: both;
	width:650px;
	height: 478px;
}





h3 { 
	color: #ffffff;
 }

.article {

}


